<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Base64</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='ende.css') }}" type="text/css" type="text/css" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
	<section id="body" class="width">
		<aside id="sidebar" class="column-left">

		<header>
			<h1><a href="{{ url_for("eNdE") }}">eNdE</a></h1>
			<h2>Welcome to my website!</h2>	
		</header>

		<nav id="mainnav">
			<ul>
        		<li><a href="{{ url_for("FrequencyAnalysis") }}">Frequency Analysis</a></li>
        		<li><a href="{{ url_for("AffineCipher") }}">Affine Cipher</a></li>
        		<li><a href="{{ url_for("AtbashCipher") }}">Atbash</a></li>
        		<li class="selected-item"><a href="{{ url_for("BaseCipher") }}">Base64</a></li>
           		<li><a href="{{ url_for("CaesarCipher") }}">Caesar Cipher</a></li>
           		<li><a href="{{ url_for("LetterCipher") }}">Letter Number</a></li>
           		<li><a href="{{ url_for("MorseCipher") }}">Morse Code</a></li>
           		<li><a href="{{ url_for("OTPCipher") }}">One Time Pad</a></li>
           		<li><a href="{{ url_for("ReverseCipher") }}">Reverse Cipher</a></li>
        		<li><a href="{{ url_for("TranspositionCipher") }}">Transposition Cipher</a></li>
        		<li><a href="{{ url_for("VigenereCipher") }}">Vigenere Cipher</a></li>
        	</ul>
		</nav>

		</aside>
		<section id="content" class="column-right">

		<article>
			<h2>Base64</h2>
			<br><br>
			<blockquote><p>Base64 also known as MIME encoding, translates binary into safe text.

			<img src = "{{ url_for('static', filename = 'base64.png') }}" style="width:60%; height:20%;">

			 <br><br></p></blockquote>
			
			<form name="startpage" method="POST" action="{{ url_for("basecipher") }}">
				<input class = "Plaintext" name = "plain" type = "text" id = "plain" placeholder = "Plaintext/Ciphertext"/>
				<button class="btn1" type="submit" name="submit" id="encrypt" value="encrypt">Encrypt</button>
				<button class="btn2" type="submit" name="submit" id="decrypt" value="decrypt" >Decrypt</button>
			</form>
			<br><br><br>
			<h3>How to use the above tool?</h3>
			<blockquote><p>To encrypt or decrypt, enter your plaintext or ciphertext respectively and hit the encrypt or decrypt button accordingly.</p></blockquote>

		</article>

		
		<div id="hometab">
			<nav id="headtitle">
				<h4><a target="_blank" href="https://en.wikipedia.org/wiki/Base64">Learn More</a></h4>
				<h3><a target="_blank" href="https://github.com/ayushggarg/cryptowebsite/blob/master/Base64.py">Source Code</a></h3>
			</nav>
		</div>

	</section>

		<div class="clear"></div>

	</section>
	

</body>
</html>
