<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Mystery</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}" media="screen" />
</head>

<body>
<form name="startpage" method="POST">
<div id="container"> 

  <div id="hometab">
    <nav id="headtitle">
      <h4><a href="{{ url_for("Mystery") }}">Mystery</a></h4>
      <h3><a href="{{ url_for("eNdE") }}">Tools</a></h3>
    </nav>
  </div>

  <div id="header">
  </div>


    </ul>
  </div>


  <div id="content"> 

    <div id="insidecontent"> <br>
      <h1>Welcome</h1>

      <p>
       This is a website on Cryptography. You will get to learn and practice here. It is handy online tool. Simple methods to encode messages so that you can pass them to someone else without having others know what the message is. Not as strong as actual encryption, but it is something you can do by hand.
        <br><br>
      </p>
	        
      <h1>Cryptography</h1>

      <p>
        Cryptography is the practice and study of techniques for secure communication in the presence of third parties called adversarie. These adversaries are often referred to as Eve in cryptography, while the sender and recipient of messages are called Alice and Bob respectively. More generally, cryptography is about constructing and analyzing protocols that prevent third parties or the public from reading private messages, various aspects in information security such as data confidentiality, data integrity, authentication, and non-repudiation are central to modern cryptography.
	      <br><br>
	   </p>
	   
    </div>


    

    <div style="clear: both;"></div>

  </div>



  <div id="footer"> <span>Copyright © 2016 | All Rights Reserved  </span> 
  </div>

</div>
</form>
</body>
</html>