<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Morse Code</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='ende.css') }}" type="text/css" type="text/css" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
	<section id="body" class="width">
		<aside id="sidebar" class="column-left">

		<header>
			<h1><a href="{{ url_for("eNdE") }}">eNdE</a></h1>
			<h2>Welcome to my website!</h2>	
		</header>

		<nav id="mainnav">
			<ul>
        		<li><a href="{{ url_for("FrequencyAnalysis") }}">Frequency Analysis</a></li>
        		<li><a href="{{ url_for("AffineCipher") }}">Affine Cipher</a></li>
        		<li><a href="{{ url_for("AtbashCipher") }}">Atbash</a></li>
        		<li><a href="{{ url_for("BaseCipher") }}">Base64</a></li>
           		<li><a href="{{ url_for("CaesarCipher") }}">Caesar Cipher</a></li>
           		<li><a href="{{ url_for("LetterCipher") }}">Letter Number</a></li>
           		<li class="selected-item"><a href="{{ url_for("MorseCipher") }}">Morse Code</a></li>
           		<li><a href="{{ url_for("OTPCipher") }}">One Time Pad</a></li>
           		<li><a href="{{ url_for("ReverseCipher") }}">Reverse Cipher</a></li>
        		<li><a href="{{ url_for("TranspositionCipher") }}">Transposition Cipher</a></li>
        		<li><a href="{{ url_for("VigenereCipher") }}">Vigenere Cipher</a></li>
        	</ul>
		</nav>

		</aside>
		<section id="content" class="column-right">

		<article>
			<h2>Morse Code</h2>
			<br><br>
			<blockquote><p>Morse Code was created by Samuel Morse to transmit letters across telegrams. He wanted frequently used letters to have short codes and less frequently used letters to have longer codes. <br> When encrypting, only letters and numbers will be encoded and the rest will be treated like spaces. When decrypting, only periods and hyphens will be decoded and the rest will be treated like spaces. <br><br></p></blockquote>
			
			<form name="startpage" method="POST" action="{{ url_for("morsecipher") }}">
				<input class = "Plaintext" name = "plain" type = "text" id = "plain" placeholder = "Plaintext/Ciphertext"/>
				<button class="btn1" type="submit" name="submit" id="encrypt" value="encrypt">Encrypt</button>
				<button class="btn2" type="submit" name="submit" id="decrypt" value="decrypt" >Decrypt</button>
			</form>
			<br><br><br>
			<h3>How to use the above tool?</h3>
			<blockquote><p> Enter the plaintext to encrypt in morse code or enter morse code to decrypt it according to the following given morse codes.
				
			<img src = "{{ url_for('static', filename = 'morse.jpg') }}" style="width:97%; "> <br>

			</p></blockquote>

		</article>

		
		<div id="hometab">
			<nav id="headtitle">
				<h4><a target="_blank" href="https://en.wikipedia.org/wiki/Morse_code">Learn More</a></h4>
				<h3><a target="_blank" href="https://github.com/ayushggarg/cryptowebsite/blob/master/Morse.py">Source Code</a></h3>
			</nav>
		</div>

	</section>

		<div class="clear"></div>

	</section>
	

</body>
</html>
